/* 
    Document   : styles
    Created on : 5-Sep-2013, 11:29:54 AM
    Author     : Nick
    Description:
        Style sheet for divs, footer, header, and navbar.
*/
body
{
    
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);     
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;

}



#CenterContent{
    float: left;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-color: lightgray;
    width: 850px;
    height: 1700px;
    line-height: 300%;
    padding: 25px;


   
 
   
}

#Content{
    
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-color: white;
    width: 1350px;
    height: 1800px;
    line-height: 300%;
    padding: 25px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

#BannerAd
{


    clear: both;
    height: 102px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}


#CenterContent p
{
    width:500px;
    font-family: Helvetica, sans-serif;
    
}

 table#TournamentsTable p
 {
     width: 145px;
     font-family: Helvetica, sans-serif;
     border: 1px solid black;
 }




#SideContent
{
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    padding: 10px;
    height: 1730px;
    background-color: lightgray;
}

#SideContent p
{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    padding: 25px;
    font-family: Helvetica, sans-serif;
}


#wrapper {
    
        top: 10px;
        position: relative;
        font-size: 100%;
       
}

#wrapper p {
        
        float: right;
        text-align: center;
        font-family: Helvetica, sans-serif;
        color: white;
        font-size: 52px;
}

#menu {	
	position: relative;
        clear: both;				
        left: 0px;
        top: -10px;
        height: 125px;
        background-position: center;
        background: -moz-linear-gradient(#252525, #0a0a0a);
        background: -webkit-gradient(linear, from(#252525), to(#0a0a0a));
        background: -webkit-linear-gradient(#252525, #0a0a0a);
        line-height: 300%;
        width: 1302px;
        margin-left: auto;
        margin-right: auto;
        border-bottom-color:#aaa;
        border-right-color:#aaa;
        border-top-color:#ddd;
        border-left-color:#ddd;

} 
#menu a:hover {
	    
            background: #7db9e8; /* Old browsers */
        background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #207cca 51%, #1e5799 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* IE10+ */
        background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    
}
#menu a:active  {
        
        
    
    background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 *//* IE6-9 */

}
.item {
	position: relative;
        background-color: #00728B;
	background: #4c4c4c; /* Old browsers */
        background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #4c4c4c 37%, #474747 44%, #4c4c4c 53%, #2c2c2c 66%, #2c2c2c 71%, #2b2b2b 76%, #1c1c1c 91%, #000000 100%, #131313 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(37%,#4c4c4c), color-stop(44%,#474747), color-stop(53%,#4c4c4c), color-stop(66%,#2c2c2c), color-stop(71%,#2c2c2c), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#4c4c4c 37%,#474747 44%,#4c4c4c 53%,#2c2c2c 66%,#2c2c2c 71%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#4c4c4c 37%,#474747 44%,#4c4c4c 53%,#2c2c2c 66%,#2c2c2c 71%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#4c4c4c 37%,#474747 44%,#4c4c4c 53%,#2c2c2c 66%,#2c2c2c 71%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* IE10+ */
        background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#4c4c4c 37%,#474747 44%,#4c4c4c 53%,#2c2c2c 66%,#2c2c2c 71%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
        border: 1px solid black;
	color: #FFF;
	padding: 3px;
	text-decoration: none;
        left: 0px;
        top: 81px;
        font-size: 22px;
        font-family: Verdana, Geneva, sans-serif;
}



#Footer{
        clear: both;
        background-color: white;
        height: 50px;
        width: 1250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 880px;
        text-align: center;
    
}

#featured{

    padding: 25px;
}

.tabs {
  position: relative;   
  min-height: 200px;
  clear: both;
  margin: 25px 0;
  height: 1600px;


}




.tab {
  float: left;
  height: 1400px;

}


.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid black; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.TabContent {
  position: absolute;
  top: 36px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid black; 
  overflow:scroll;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .TabContent {
  z-index: 1;
}

.rightpart
{
    width: 200px;
    text-align: center;
}
.leftpart
{
    width: 200px;
    text-align: center;
}

.user-post
{
    width: 200px;
    
}
.post-content
{
    width: 200px;
}
.post_title
{
    text-align: center;
}